<!<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>True Facts</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="/index.bundle.js"></script>

    </head>

    <body>
        <h1>True Facts!</h1>
        <hr>
        <p>Rammstein luvs Malcom in the middle &lt; </p>
        <img src="https://i.ytimg.com/vi/QouhEF0YwKo/maxresdefault.jpg"><img>
    </body>

</html>