<!<!DOCTYPE html>

<html>

    <head>

        <meta charset="utf-8" />

        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <title>Deployed Page</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="/index.bundle.js"></script>

    </head>

    <body>
        <h1>Build Me!</h1>
        <hr>
        <p>Content and Stuff</p>
        <hr>
        <p>We are deployed, yayyy!!!</p>
    
    </body>

</html>